[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "x265"]
	path = x265
	url = https://github.com/videolan/x265.git
[submodule "libvpx"]
	path = libvpx
	url = https://chromium.googlesource.com/webm/libvpx
