[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	master = master
[submodule "x265"]
	path = x265
	url = https://github.com/videolan/x265.git
	master = master
[submodule "libvpx"]
	path = libvpx
	url = https://github.com/webmproject/libvpx.git
	master = master
